.search.row
  .span3
    = form_tag(warehouse_item_types_path(warehouse_id), :method => "post") do |f|
      = label_tag :description, "Description"
      = text_field_tag :description, description
      = label_tag :cost, "Cost"
      = text_field_tag :cost, cost
      = submit_tag "Save", class: "btn btn-large btn-primary"