%table.table.table-striped
  %thead
    %tr
      %td= "Item code"
      %td= "Description"
      %td= "Quantity"
      %td= "Date"
      %td= "Cost"
      %td= "Link"
  %tbody
    - @items.each do |item|
      %tr
        %td= item.itemCode
        %td= item.description
        %td= item.qty
        %td= Time.at(item.date/1000)
        %td= item.cost
        %td= link_to "Delivery note", warehouse_item_delivery_note_path(@warehouse_id, item.itemCode, item.date, :format => :pdf)