= render "search"
%table.table.table-striped
  %thead
    %tr
      %td= "Item code"
      %td= "Description"
      %td= "Quantity"
      %td= "Date"
      %td= "Cost"
      %td= "Warehouse id"
  %tbody
    - @items.each do |item|
      %tr
        %td= item.itemCode
        %td= item.description
        %td= item.qty
        %td= Time.at(item.date/1000)
        %td= item.cost
        %td= item.warehouse_id