%table.table.table-striped
  %thead
    %tr
      %td= "Id"
      %td= "Name"
      %td= "Funtions"
  %tbody
    - @warehouses.each do |warehouse|
      %tr
        %td= warehouse.id
        %td= warehouse.name
        %td
          %li= link_to "View history", warehouse_items_path(warehouse.id)
          %li= link_to "Item types", warehouse_item_types_path(warehouse.id)
          %li= link_to "Import", import_warehouse_items_path(warehouse.id)
          %li= link_to "Export", export_warehouse_items_path(warehouse.id)
